.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #C4AFFF, #6A00FF);
}
/* Font size home screen*/
.display-1 {
  font-size: 36px; 
}

.lead {
  font-size: 18px;
}

.fst-italic {
  font-size: 16px; 
}

.button,
.btn {
  font-size: 18px; 
}

/* buttons on home */
.custom-login-button {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: 1px solid rgb(0, 0, 0); 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s; 
}

.custom-login-button:hover {
  background-color: darkblue;
  color: lightgray;
  border-color: darkblue;
}

.custom-signup-button {
  border-radius: 8px;
  padding: 15px 30px;
  background-color: green;
  color: white;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s; 
}

.custom-signup-button:hover {
  background-color: darkgreen;
  color: lightgray;
  border-color: darkgreen;
}

/* Rgister */

.register-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.input-container {
  margin-bottom: 15px;
}


label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px; 
  font-weight: bold; 
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.register-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #7925e7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.switch-button {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Login */

.login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.input-container {
  margin-bottom: 15px;
}


label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.login-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #7925e7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.switch-button {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
}

/* Navbar */
/* Add responsive styles */
@media screen and (max-width: 768px) {
  .navbar-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .initials {
    margin-right: 0;
  }
}

.navbar-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  background-color: #333;
  padding: 10px;
}

.initials {
  display: flex-start;
  font-size: 1.2rem;
  color: white;
  margin-right: 76%;
}

.crown-image {
  display: flex;
  width: 40px; 
  height: auto;
  margin-left: 20px;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px; 
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

.navbar-item {
  margin-left: 20px; 
  display: flex-end;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

/* Dashboard.css */

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project-box {
  border: 5px solid #ccc;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.project-box img {
  max-width: 300%;
  height: auto;
}

/* MessagingApp.css */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f0f0f0;
}

.messaging-app {
  display: flex;
  width: 800px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.conversation-list {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.conversation-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.conversation-item:hover {
  background-color: #f0f0f0;
}

.conversation-item.selected {
  background-color: #ddd;
}

.chat-window {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message-list {
  flex: 1;
  overflow-y: auto;
}

.message {
  margin: 10px 0;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-input button {
  margin-left: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}

/* Crown image on Home*/
.mx-auto:hover {
  transform: scale(1.1); 
}

/* Footer.css */
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer-image {
  width: 25px;
  height: auto; 
  margin-left: 10px; 
}






