/* Universal Selector */
*   {
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #FDF8F5;
    color: #4F4846;
}

h1,
h2  {
    margin: 20px;
    color: #4F4846;
}

main {
    padding: 60px 0;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    /*color: #FDF8F5;*/
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #15bd8d;
}

